body{
    background-color: black;
}

.topLink{
    color: gray;
    cursor: pointer;
    padding-left: 7px;
}

.v{
    padding-top: 50px;
    color: gray;
}

#w{
    color: gray;
}

#m{
    color: white;
    font-size: 50px;
    font-weight: 300;
}